@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
    
}
body{
    background-color: #EEEEEE;
}

.header{
    position: fixed;
    width: 100%;
    height:35px;
    background:#041C32;
    padding:32px 9%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}
.logo{
    font-size: 32px;
    font-weight: bolder;
    color:white;
    flex: 1 1 auto;
    margin-left: 2%;
}
.nav{
    display: flex;
    justify-content: right;
    margin-right: 15%;
    align-items: center;
}
.fas{
    font-size: 20px;
    color: white;
    padding-right: 5px;
}
.nav a{
     font-size: 20px;
     font-weight: 300;
     color: white;
     margin: 15px;
     text-transform: capitalize;
}
.nav a:hover{
    color: orangered;
}


.home{
    
    margin-right: 0;
    padding-top: 112px;
    padding-bottom: 10rem;
}


.owl-carousel{
    font-size: 20px;
    color: orangered;
}
/* End Home */
/* start Categories */

.categories{
    
    margin-top: 40px;
    }
.categories h1{
    font-size: 40px;
    text-align: center;
}

.categories-item{
    margin-top: 100px;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 80px;
}
.categories-item .item p{
    font-size: 18px;
    padding-top: 15px;
}
/* End categories */
/* start products */
.products{
    margin:140px 0;
}
.products h1{
    margin: 70px 0;
    font-size: 40px;
    text-align: center;
    font-weight: 600;

}

.card-container{
    /* padding-bottom: 30px; */
    /* width: 1260px; */
    position: relative;
    /* margin: 0 50px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    grid-gap: 20px;
    
}
   
.card{
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 15px grey;
}
.card:hover{
    box-shadow: 20px 20px 30px grey;
}  
.card .product-img{
    display: flex;
    justify-content: center;
}
.card .product-img img{
    position: relative;
    /* width: 50%; */
    height: 200px;
}
.card-content{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
   
}
.card-content button{
    font-size: 16px;
    margin-top: 15px;
    padding: 4px 50px;
    border-radius: 20px;
    background-color: #041C32;
    color: white;
    border: none;
    cursor: pointer;
}










.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:16px;
}
.footer .box-container .box{
    margin-left:80px;
    margin-top: 50px;
}
.footer .box-container .box h3{
    font-size: 24px;
    color:black;
    padding:16px 0;
}


.footer .box-container .box .links{
    display: block;
    font-size: 16px;
    color:lightslategrey;
    padding:16px 0;
}

.footer .box-container .box .links i{
    color: lightslategrey;
    padding-right: 8px;
}

.footer .box-container .box .links:hover i{
    padding-right: 32px;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size:18px;
    color: lightslategrey;
    padding:1rem 0;
}

/* .footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
} */

.footer .box-container .box .email{
    
    margin:12px 0;
    padding:7px;
    border-radius: 4px;
    background: #eee;
    font-size: 16px;
    color:black;
    text-transform: none;
}

.btn{
    border: none;

    display: block;
    background-color: orangered;
    padding: 8px 70px;
}
.btn a{
    text-decoration: none;
    color: black;
}

.footer .box-container .box .payment-img{
    margin-top: 32px;
    height: 48px;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top:26px;
    padding:16px;
    padding-top: 40px;
    font-size: 15px;
    color:grey;
    border-top: 1px solid lightgray;
}

